# R / RStudio

.Rhistory
.RData
.Ruserdata
.Rproj.user/


# Shiny / temp files

*.log
*.tmp
tmp/
temp/


# renv (do NOT commit the library)

renv/library/
renv/python/
renv/staging/


# OS 

.DS_Store
Thumbs.db
